{% extends 'base.html' %}

{% block header %}
  <h1>{% block title%} Home {% endblock %}</h1>
{% endblock %}

{% block content %}
  <p><b>Popular IT Certifications in the Defense Industry</b>:</p>
  <table>
    <tr>
      <th>{{popular_certs_table.column_names[0]}}</th>
      <th>{{popular_certs_table.column_names[1]}}</th>
    </tr>
    {% for item in popular_certs_table.rows %}
    <tr>
      <td>{{item[0]}}</td>
      <td>{{item[1]}}</td>
    </tr>
    {% endfor %}
  </table>

  <p><b>IT Certification Information</b>:</p>
  <table>
    <tr>
      <th>{{it_certs_info_table.column_names[0]}}</th>
      <th>{{it_certs_info_table.column_names[1]}}</th>
      <th>{{it_certs_info_table.column_names[2]}}</th>
      <th>{{it_certs_info_table.column_names[3]}}</th>
      <th>{{it_certs_info_table.column_names[4]}}</th>
    </tr>
    {% for item in it_certs_info_table.rows %}
    <tr>
      <td>{{item[0]}}</td>
      <td>{{item[1]}}</td>
      <td>{{item[2]}}</td>
      <td>{{item[3]}}</td>
      <td>{{item[4]}}</td>
    </tr>
    {% endfor %}
  </table>
  <p><b>Note</b>: The CompTIA Security+ is a great certification for any position in the Defense industry.</p>
{% endblock %}


